@model HerramientaAD.Models.MetricasModel
@{
    ViewBag.Title = "Métricas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>

<head>
    <style>
        th {
            padding: 10px;
            text-align: center;
        }
    </style>

    <link href="~/Estilos/Metricas.css" rel="stylesheet" />
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-3">Métricas</h1>
        <p class="lead">Texto.</p>
        <hr class="my-4">
    </div>
    <div class="alert alert-dismissible alert-primary">
        <h6 class="mb-0">Información estadística de los objetos de Servicios e Interfaces encontrados durante el análisis de la aplicación.</h6>
    </div>


    <fieldset>

        <table>
            <tr>
                <td>
                    <div style="height: 547px;">
                        <table cellspacing="0" id="Tabla0" style="width: 100%; border-collapse: collapse; color: #fff; ">
                            <tr class="GridViewScrollHeader" style="height: 100px;">
                                <th class="CampoMasCorto">Aplicación</th>
                            <tr>
                            <tr class="GridViewScrollHeader" style="height: 61px;">
                                <th class="CampoDescarga">Tamaño</th>
                            <tr>
                            <tr class="GridViewScrollHeader" style="height: 61px;">
                                <th class="CampoAnalisis">Obsolescencia</th>
                            <tr>
                            <tr class="GridViewScrollHeader" style="height: 61px;">
                                <th class="CampoAnalisis">Mantenibilidad</th>
                            <tr>
                            <tr class="GridViewScrollHeader" style="height: 61px;">
                                <th class="CampoAnalisis">Seguridad</th>
                            <tr>
                            <tr class="GridViewScrollHeader" style="height: 61px;">
                                <th class="CampoAnalisis">Confiabilidad</th>
                            <tr>
                            <tr class="GridViewScrollHeader" style="height: 61px;">
                                <th class="CampoAnalisis">Obj. de Base de Datos</th>
                            <tr>
                            <tr class="GridViewScrollHeader" style="height: 61px;">
                                <th class="CampoAnalisis">Servicios e Interfaces</th>
                            <tr>
                        </table>
                    </div>
                </td>
                <td >
                    <div style=" overflow-x: scroll; width:800px">
                        <table id="Tabla1" style=" border-collapse: collapse;" cellpadding="0" cellspacing="0">

                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td><p>ABCDEFG</p></td>
                                        </tr>
                                        <tr class="GridViewScrollItem2">
                                            <td>
                                                <h6>Nombre completo de la applicación</h6>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/e_rojo.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="GridViewScrollItem">
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="CampoAnalisis">
                                    <table style="margin: 0 auto;">
                                        <tr class="GridViewScrollItem2">
                                            <td>123, 456 LDC</td>
                                            <td>
                                                <img width="25" height="25" src="~/Images/a_verde.png" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                        </table>
                    </div>
                </td>
            </tr>
        </table>


        
        


    </fieldset>


    @*<fieldset>

            <div id="HGrid">

                <table cellspacing="0" id="Tabla0" style="width: 100%; border-collapse: collapse; color: #fff; ">
                    <tr class="GridViewScrollHeader">
                        <th class="CampoMasCorto">Aplicación</th>
                        <th class="CampoDescarga">Tamaño</th>
                        <th class="CampoAnalisis">Obsolescencia</th>
                        <th class="CampoAnalisis">Mantenibilidad</th>
                        <th class="CampoAnalisis">Seguridad</th>
                        <th class="CampoAnalisis">Confiabilidad</th>
                        <th class="CampoAnalisis">Obj. de Base de Datos</th>
                        <th class="CampoAnalisis">Servicios e Interfaces</th>

                    </tr>
                </table>
            </div>
            <div id="divdet">
                <table id="Tabla1" style="width: 100%; border-collapse: collapse;" cellpadding="0" cellspacing="0">


                    <tr class="GridViewScrollItem">
                        <td class="CampoMasCorto"> abcdefabcdefabcdef </td>
                        <td class="CampoDescarga"> abcdef </td>
                        <td class="CampoAnalisis"> abcdef </td>
                        <td class="CampoAnalisis"> abcdef </td>
                        <td class="CampoAnalisis"> abcdef </td>
                        <td class="CampoAnalisis"> abcdef </td>
                        <td class="CampoAnalisis"> abcdef </td>
                        <td class="CampoAnalisis"> abcdef </td>

                    </tr>


                </table>
            </div>


        </fieldset>*@

    <script src="~/Scripts/jquery-3.3.1.js"></script>
</body>

</html>


